<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="dropdown ml">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-1/337416502_3101502740158128_8860411764221848378_n.jpg?stp=dst-jpg_s320x320&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=QNHH2DyqLWUAX9zCkik&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBAtuEjMSFsIKj_Y0dgMUNwObpSy6nWamm4gPwXJgCjsw&oe=65F087C8"
            alt="avatar" class="user-avatar">
          Bảo Lễ
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
          <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>